---
---

@import "{{ site.theme }}";

body {
    padding: 0px 0 20px 0px;
    margin: 0px;
    font: 14px/1.5 'OpenSansRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #434343;
    font-weight: normal;
    background: #434343;
    background-attachment: fixed !important;
    background: linear_gradient(#2a2a29, #1c1c1c);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #434343;
    margin: 0 0 10px;
    font-family: 'OpenSansRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

p,
ul,
ol,
table,
pre,
dl {
    margin: 0 0 20px;
}

h1,
h2,
h3 {
    line-height: 1.1;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h4,
h5,
h6 {
    color: #434343;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    font-family: 'OpenSansRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight: normal;
    color: #434343;
}

a {
    color: #ffcc00;
    font-weight: 400;
    text-decoration: none;

    &:hover {
        color: #434343;
    }
}

a small {
    font-size: 11px;
    color: cornflowerblue;
    margin-top: -0.6em;
    display: block;
}

ul {
    list-style-image: url('../images/bullet.png');
}

strong {
    font-family: 'OpenSansBold', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight: normal;
}

.drop-shadow {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.wrapper {
    max-width: 850px;
    min-width: 850px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
    background: white;
}

section img {
    max-width: 100%;
}

blockquote {
    border-left: 3px solid red;
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic;
}

code {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
    color: #efefef;
    font-size: 13px;
    margin: 0 4px;
    padding: 4px 6px;
    border-radius: 2px;
}

pre {
    padding: 8px 15px;
    background: #434343;
    border-radius: 2px;
    border: 1px solid #121212;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    overflow: auto;
    overflow-y: hidden;

    code {
        color: #efefef;
        text-shadow: 0px 1px 0px #000;
        margin: 0;
        padding: 0;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #434343;
    color: #ffffff;
    font-family: 'OpenSansSemibold', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight: normal;
}

td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #ffffff;
}

hr {
    border: 0;
    outline: none;
    height: 3px;
    background: transparent url('../images/hr.gif') center center repeat-x;
    margin: 0 0 20px;
}

dt {
    color: #434343;
    font-family: 'OpenSansSemibold', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight: normal;
}

#header {
    z-index: 100;
    left: 0;
    top: 0px;
    height: 60px;
    width: 100%;
    position: fixed;
    background: url(../images/nav-bg.gif) #353535;
    border-bottom: 4px solid #434343;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);

    nav {
        max-width: 650px;
        margin: 0 auto;
        padding: 0 10px;
        background: blue;
        margin: 6px auto;

        li {
            font-family: 'OpenSansLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: normal;
            list-style: none;
            display: inline;
            color: black;
            line-height: 50px;
            text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
            font-size: 14px;

            a {
                color: black;
                border: 1px solid #5d910b;
                background: linear_gradient(#93bd20, #659e10);
                border-radius: 2px;
                box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);

                background-color: #93bd20;
                padding: 10px 12px;
                margin-top: 6px;
                line-height: 14px;
                font-size: 14px;
                display: inline-block;
                text-align: center;

                &:hover {
                    background: linear_gradient(#749619, #527f0e);
                    background-color: #659e10;
                    border: 1px solid #527f0e;
                    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
                }
            }

            &.fork {
                float: left;
                margin-left: 0px;
            }

            &.downloads {
                float: right;
                margin-left: 6px;
            }

            &.title {
                float: right;
                margin-right: 10px;
                font-size: 11px;
            }
        }
    }
}

section {
    max-width: 860px;
    padding: 30px 0px 30px 0px;
    margin: 20px 0;
    margin-top: 70px;

    #title {
        border: 0;
        outline: none;
        margin: 0 0 30px 0;
        padding: 0 0 5px 0;

        h1 {
            font-family: 'OpenSansLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: normal;
            font-size: 40px;
            text-align: center;
            line-height: 36px;
        }

        p {
            color: #434343;
            font-family: 'OpenSansLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: normal;
            font-size: 18px;
            text-align: center;
        }

        .credits {
            font-size: 11px;
            font-family: 'OpenSansRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: normal;
            color: #434343;
            margin-top: -10px;

            &.left {
                float: left;
            }

            &.right {
                float: right;
            }
        }
    }
}

@media print, screen and (max-width: 720px) {
    #title {
        .credits {
            display: block;
            width: 100%;
            line-height: 30px;
            text-align: center;

            .left {
                float: none;
                display: block;
            }

            .right {
                float: none;
                display: block;
            }
        }
    }
}

@media print, screen and (max-width: 480px) {
    #header {
        margin-top: -20px;
    }

    section {
        margin-top: 40px;
    }
    nav {
        display: none;
    }
}


.markdown-preview.markdown-preview {
    // modify your style here
    // eg: background-color: blue;  
    ul {
      list-style-type: none;
    }
  
  }
  
  .markdown-preview.markdown-preview {
    // please write your custom style here
    // eg:
    //  color: blue;          // change font color
    //  font-size: 14px;      // change font size
    // custom pdf output style
    @media print {
    }
  
    // custom prince pdf export style
    &.prince {
    }
  
    // custom phantomjs png/jpeg export style
    &.phantomjs-image {
    }
  
    //custom phantomjs pdf export style
    &.phantomjs-pdf {
    }
  
    // custom presentation style
    .reveal .slides {
      // modify all slides
    }
  
    .slides > section:nth-child(1) {
      // this will modify `the first slide`
    }
  }
  
  .md-sidebar-toc.md-sidebar-toc {
    // sidebar TOC style
  }
  
  code[class*=language-],pre[class*=language-] {
    background: #2a2734;
    color: #a4adb6;
    font-family: 'Source Code Pro',Consolas,Monaco,'Andale Mono',monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
  }
  
  code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection {
    color: inherit;
    background: rgba(33,66,131,.85)
  }
  
  code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection {
    color: inherit;
    background: rgba(33,66,131,.85)
  }
  
  pre[class*=language-] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto
  }
  
  :not(pre)>code[class*=language-],pre[class*=language-] {
    background: #2a2734
  }
  
  :not(pre)>code[class*=language-] {
    padding: .1em;
    border-radius: .3em
  }
  
  .token.cdata,.token.comment,.token.prolog {
    color: grey
  }
  
  .token.atrule,.token.boolean,.token.delimiter,.token.important,.token.keyword,.token.selector {
    color: #edf0b4;
  }
  
  .token.attr-name,.token.operator,.token.punctuation {
    color: #409240
  }
  
  .token.builtin,.token.doctype,.token.tag,.token.tag .punctuation {
    color: #af7ac4
  }
  
  .token.entity,.token.number,.token.symbol {
    color: #DB61C6
  }
  
  .token.constant,.token.property,.token.variable {
    color: #edf0b4
  }
  
  .token.function {
    color: #af7ac4
  }
  
  .token.char,.token.string {
    color: #5CD45C
  }
  
  .token.attr-value,.token.attr-value .punctuation {
    color: #6a8759
  }
  
  .token.attr-value .punctuation:first-child {
    color: #a9b7c6
  }
  
  .token.url {
    color: #287bde;
    text-decoration: underline
  }
  
  .token.regex {
    background: #364135
  }
  
  .token.italic {
    font-style: italic
  }
  
  .token.inserted {
    background: #294436
  }
  
  .token.deleted {
    background: #484a4a
  }
  
  code.language-css .token.property,code.language-css .token.property+.token.punctuation {
    color: #a9b7c6
  }
  
  code.language-css .token.id,code.language-css .token.selector>.token.attribute,code.language-css .token.selector>.token.class,code.language-css .token.selector>.token.pseudo-class,code.language-css .token.selector>.token.pseudo-element {
    color: #edf0b4
  }
  
  html body code {
    font-family: Menlo,Monaco,Consolas,'Courier New',monospace;
    font-size: .85em !important;
    color: black;
    background-color:#B7E3C0;
    border-radius: 1px;
    padding: .2em 0;
  }
  
  html body blockquote {
    margin: 16px 0;
    font-size: inherit;
    padding: 0 15px;
    color: #5c5c5c;
    background: rgb(239, 239, 239);
    border-left: 4px solid #bbbbbb;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-right: 12px !important;
  }
  
  .markdown-preview.markdown-preview {
     
    ul {
      list-style-type: none;
    }
  
    .copy-clip {
      color: #50c6fd !important;
      .token.function {
        color: #dcedc7 !important;
      }
    }
  
  }

  .white-code {
    color: cornflowerblue;
  }