/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */
.markdown-preview.markdown-preview ul {
  list-style-type: none;
}
.markdown-preview.markdown-preview code[class*=language-],
.markdown-preview.markdown-preview pre[class*=language-] {
  background: #2a2734;
  color: #a4adb6;
  font-family: 'Source Code Pro', Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.markdown-preview.markdown-preview code[class*=language-] ::-moz-selection,
.markdown-preview.markdown-preview code[class*=language-]::-moz-selection,
.markdown-preview.markdown-preview pre[class*=language-] ::-moz-selection,
.markdown-preview.markdown-preview pre[class*=language-]::-moz-selection {
  color: inherit;
  background: rgba(33, 66, 131, 0.85);
}
.markdown-preview.markdown-preview code[class*=language-] ::selection,
.markdown-preview.markdown-preview code[class*=language-]::selection,
.markdown-preview.markdown-preview pre[class*=language-] ::selection,
.markdown-preview.markdown-preview pre[class*=language-]::selection {
  color: inherit;
  background: rgba(33, 66, 131, 0.85);
}
.markdown-preview.markdown-preview pre[class*=language-] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}
.markdown-preview.markdown-preview :not(pre) > code[class*=language-],
.markdown-preview.markdown-preview pre[class*=language-] {
  background: #2a2734;
}
.markdown-preview.markdown-preview :not(pre) > code[class*=language-] {
  padding: .1em;
  border-radius: 0.3em;
}
.markdown-preview.markdown-preview .token.cdata,
.markdown-preview.markdown-preview .token.comment,
.markdown-preview.markdown-preview .token.prolog {
  color: #808080;
}
.markdown-preview.markdown-preview .token.atrule,
.markdown-preview.markdown-preview .token.boolean,
.markdown-preview.markdown-preview .token.delimiter,
.markdown-preview.markdown-preview .token.important,
.markdown-preview.markdown-preview .token.keyword,
.markdown-preview.markdown-preview .token.selector {
  color: #edf0b4;
}
.markdown-preview.markdown-preview .token.attr-name,
.markdown-preview.markdown-preview .token.operator,
.markdown-preview.markdown-preview .token.punctuation {
  color: #409240;
}
.markdown-preview.markdown-preview .token.builtin,
.markdown-preview.markdown-preview .token.doctype,
.markdown-preview.markdown-preview .token.tag,
.markdown-preview.markdown-preview .token.tag .punctuation {
  color: #af7ac4;
}
.markdown-preview.markdown-preview .token.entity,
.markdown-preview.markdown-preview .token.number,
.markdown-preview.markdown-preview .token.symbol {
  color: #db61c6;
}
.markdown-preview.markdown-preview .token.constant,
.markdown-preview.markdown-preview .token.property,
.markdown-preview.markdown-preview .token.variable {
  color: #edf0b4;
}
.markdown-preview.markdown-preview .token.function {
  color: #af7ac4;
}
.markdown-preview.markdown-preview .token.char,
.markdown-preview.markdown-preview .token.string {
  color: #5cd45c;
}
.markdown-preview.markdown-preview .token.attr-value,
.markdown-preview.markdown-preview .token.attr-value .punctuation {
  color: #6a8759;
}
.markdown-preview.markdown-preview .token.attr-value .punctuation:first-child {
  color: #a9b7c6;
}
.markdown-preview.markdown-preview .token.url {
  color: #287bde;
  text-decoration: underline;
}
.markdown-preview.markdown-preview .token.regex {
  background: #364135;
}
.markdown-preview.markdown-preview .token.italic {
  font-style: italic;
}
.markdown-preview.markdown-preview .token.inserted {
  background: #294436;
}
.markdown-preview.markdown-preview .token.deleted {
  background: #484a4a;
}
.markdown-preview.markdown-preview code.language-css .token.property,
.markdown-preview.markdown-preview code.language-css .token.property + .token.punctuation {
  color: #a9b7c6;
}
.markdown-preview.markdown-preview code.language-css .token.id,
.markdown-preview.markdown-preview code.language-css .token.selector > .token.attribute,
.markdown-preview.markdown-preview code.language-css .token.selector > .token.class,
.markdown-preview.markdown-preview code.language-css .token.selector > .token.pseudo-class,
.markdown-preview.markdown-preview code.language-css .token.selector > .token.pseudo-element {
  color: #edf0b4;
}
.markdown-preview.markdown-preview html body code {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: .85em !important;
  color: black;
  background-color: #B7E3C0;
  border-radius: 1px;
  padding: .2em 0;
}
.markdown-preview.markdown-preview html body blockquote {
  margin: 16px 0;
  font-size: inherit;
  padding: 0 15px;
  color: #5c5c5c;
  background: #efefef;
  border-left: 4px solid #bbbbbb;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-right: 12px !important;
}
.markdown-preview.markdown-preview .markdown-preview.markdown-preview ul {
  list-style-type: none;
}
.markdown-preview.markdown-preview .markdown-preview.markdown-preview .copy-clip {
  color: #287bde !important;
}
.markdown-preview.markdown-preview .markdown-preview.markdown-preview .copy-clip .token.function {
  color: #dcedc7 !important;
}
.markdown-preview.markdown-preview .env-code .token.variable {
  color: #a4adb6;
}
.markdown-preview.markdown-preview .env-code .token.function {
  color: #a4adb6;
}
.markdown-preview.markdown-preview pre.language-graphql.white-code {
  color: #1F61A0;
}
.markdown-preview.markdown-preview .white-code {
  background-color: #fff !important;
  border: 1px solid gainsboro;
}
.markdown-preview.markdown-preview .white-code .token.keyword {
  color: #B11A04;
}
.markdown-preview.markdown-preview .white-code .token.operator,
.markdown-preview.markdown-preview .white-code .token.punctuation {
  color: #000;
}
.markdown-preview.markdown-preview .white-code .token.attr-name {
  color: #8B2BB9;
}
.markdown-preview.markdown-preview .white-code .token.string {
  color: #D64292;
}
